@page
@using FGrid.Extensions
@using FGrid.Models
@using FGrid.Persistence.Models
@model FGrid.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            @(Html.FGrid<TestUser>("Api/Users/GetUsers").Build(columns =>
            {
                columns.Add(user => user.Name).Searchable(true).Orderable(true);
                columns.Add(user => user.Lastname).Searchable(true).Orderable(true);
                columns.Add(user => user.Age).Searchable(true).Orderable(true);
                columns.Add(user => user.Gender).Searchable(true).Orderable(true).SetFilterOptions(new List<FGridFilterOption>
                {
                    new FGridFilterOption("0", Enum.GetName(typeof(Gender), Gender.NotSet)), 
                    new FGridFilterOption("1", Enum.GetName(typeof(Gender), Gender.Male)), 
                    new FGridFilterOption("2", Enum.GetName(typeof(Gender), Gender.Female))
                });
                columns.Add(user => user.Address.Country).Searchable(false).Orderable(true).SetDisplayName("Country");
                columns.Add(user => user.Address.Street).Searchable(true).Orderable(true).SetDisplayName("Street");
                columns.Add(user => user.Address.ZipCode).Searchable(true).Orderable(true).SetDisplayName("ZipCode");
                columns.Add(user => user.Notes).Searchable(true).Orderable(false);
                columns.Add(user => user.Phone).Searchable(true).Orderable(false);
                columns.Add().SetDisplayName("Actions");
                columns.Add().SetDisplayName("Actions1");
            }))
        </div>
    </div>
</div>